<!-- <div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" #accdata (keyup)="onChange(name.value)" placeholder="password" />
      <button style="float:left; width:50%;height: 60px; margin: 0px 0 15px;">Reset</button>
      <button (click)="ok()" style="float: right; width:50%; height: 60px; margin: 0px 0 15px;">Login</button>
    </form>
  </div>
</div> -->


<h1>{{"keluar " + message}}</h1>
<p> user : {{data}} </p>

<button (click)="fireEvent()">Send Event</button>